body {
    background-color: white;
}

.general-link {
    color: black;
    margin: 10px;
    font-size: 21px;
}

.info-link {
    color: black;
    margin: 3px;
}

p, h2 {
    color: black;
}

input {
    background-color: white;
    border-radius: 20px;
    width: 300px;
    height: 30px;
    text-align: center;
    font-size: 18px;
    color: black;
}

.search {
    background-color: gray;
    border-radius: 30px;
}

.go-back {
    display: flex;
    margin: 0 auto;
    background-color: white;
    color: black;
    border-radius: 30px;
}